pipeline/pl_ingest_polulation_data.json
{
	"name": "pl_ingest_polulation_data",
	"properties": {
		"activities": [
			{
				"name": "Validation",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_covidreporting",
						"type": "DatasetReference",
						"parameters": {
							"ds_file_name": {
								"value": "@pipeline().parameters.pl_file_name",
								"type": "Expression"
							}
						}
					},
					"timeout": "0.00:00:10",
					"sleep": 600,
					"minimumSize": 1024
				}
			},
			{
				"name": "Get File Metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Validation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_covidreporting",
						"type": "DatasetReference",
						"parameters": {
							"ds_file_name": {
								"value": "@pipeline().parameters.pl_file_name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"columnCount",
						"contentMD5",
						"exists",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"modifiedDatetimeStart": "2023-06-24T00:00:00.000Z",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get File Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get File Metadata').output.columnCount, 13)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "File Validation Error",
								"errorCode": "0"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy Population Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ""
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_covidreporting",
									"type": "DatasetReference",
									"parameters": {
										"ds_file_name": {
											"value": "@pipeline().parameters.pl_file_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_population",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"pl_file_name": {
				"type": "string",
				"defaultValue": "population_by_age.tsv"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-06-24T18:02:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}